@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body__background: #ffffff;
  --text__color: #2d2d2d;
  --input__bg: #121212;
}

[data-theme="dark"] {
  --body__background: #050505;
  --text__color: #ffffff;
  --input__bg: #121212;
}

* {
  transition: background-color 0.6s ease-in-out;
}
